{
	email {$ACME_EMAIL}
}

(common_static_headers) {
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}

www.timecampus.asia {
	encode zstd gzip

	handle /admin {
		redir https://admin.timecampus.asia/ 308
	}

	handle /admin/* {
		uri strip_prefix /admin
		redir https://admin.timecampus.asia{uri} 308
	}

	handle /api/v1/* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv/portal
		import common_static_headers
		try_files {path} /index.html
		file_server
	}
}

admin.timecampus.asia {
	encode zstd gzip

	handle /api/v1/* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv/portal
		import common_static_headers
		try_files {path} /index.html
		file_server
	}
}

api.timecampus.asia {
	encode zstd gzip

	handle /v1 {
		rewrite * /api/v1
		reverse_proxy backend:8080
	}

	handle_path /v1/* {
		rewrite * /api/v1{path}
		reverse_proxy backend:8080
	}

	handle /api/v1/* {
		reverse_proxy backend:8080
	}

	handle {
		respond "TimeCampus API" 200
	}
}

cap.timecampus.asia {
	encode zstd gzip
	reverse_proxy cap:3000
}
